
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --color_blue: rgba(33, 150, 243, 1);
    --color_black: rgb(33, 33, 33, 1);
    --color_gray: rgba(117, 117, 117, 1);
    --color_footer: rgba(255, 255, 255, 0.6);
    --color_white: rgba(255, 255, 255, 1);


}
.links{
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    font-size: 14px;
}
.p_0{
    padding: 30px;
}
body{
    font-family: 'Roboto', sans-serif;
}
a:any-link{
    text-decoration: none;
    
}
a:visited{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
}
.main__header{
    width: 1200px;
    margin: auto;

}
.headers_navigation{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    text-align: center;

}
.menu_navigation{
    display: flex;
    justify-content: space-between;
    gap: 344px;
}
.menu_list{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo{
    color: var(--color_blue);
    font-family: Raleway;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
    font-size: 26px;
    gap: 92px;
    text-size-adjust: ;
}

.header_link{
    color: var(--color_black);
}
.header_link:hover{
    color: var(--color_blue);
}

.header_link.current{
    color: var(--color_blue);

}


.cel_contact{
    color:var(--color_gray);
}
.email_contact{
    color:var(--color_gray);
}
.cel_contact:hover{
    color:var(--color_blue);
}
.email_contact:hover{
    color:var(--color_blue);
}
.cel_contact:active{
    color: var(--color_blue);
}
.email_contact:active{
    color: var(--color_blue);
}

.head_container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
.head_title{
    color: var(--color_white);
    background-color: rgba(47, 48, 58, 1);
    text-align:center;
    width: auto;
}

.main_title{
    font-family: inherit;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}
.button{
    color: var(--color_white);
    background-color: var(--color_blue);
    cursor: pointer;
    border-radius: 4px;
    width: 261px;
    height: 50px;
}
.about_list{
    width: 1200px;
    padding: 15px;
    margin: auto;
    display: flex;
    justify-content:space-evenly;

}

.about_item{
    color: var(--color_black);
    font-weight: 700;
    font-family: inherit;
    line-height: 1.1;
    size: 14px;
    letter-spacing: 0.03em;

}
.about_item:hover{
    color: var(--color_gray);
}
.about_text{
    font-family:inherit;
    color:var(--color_gray);
    font-weight: 400;
    line-height: 1.7;
    size: 14px;
    letter-spacing: 0.03em;
}
.about_container{
    width: 270px;
    margin: auto;
}
.main__services{
    display:inline-block;
    margin: auto;
    width: 1200px;
    justify-content: center;
    text-align: center;
}
.headings{
    color: var(--color_black);
    font-family: inherit;
    text-align:center;
    font-weight: 700;
    line-height: 1.16;
    size: 36px;
    letter-spacing: 0.03em;
    justify-content: center;
}
.images_services{
    display: flex;
    width: 1200px;
    gap: 30px;
    align-items: center;
    padding-left: 105px;
    
}

.main__team{
    display:inline-block;
    gap: 15px;
}
.images_team{
    display: flex;
    flex-direction: row;
    width: 1200px;

}
.job_title{
    color: var(--color_gray);
    font-family: inherit;
    font-weight: 400;
    size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}
.job_name{
    color: var(--color_black);
    font-family: inherit;
    font-weight: 500;
    size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}
.main__footer{
    background-color: var(--color_black);
}
.footer_address{
    color: var(--color_white);
    font-family: inherit;
    font-weight: 400;
    size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.footer_contact{
    color: var(--color_footer);
    font-family: inherit;
    font-weight: 400;
    size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.footer_address:hover{
    color: var(--color_blue);
}
.footer_contact:hover{
    color: var(--color_blue);
}

/*inicio pagina portfolio */
.portafolio{
    display: none;
    
}
.list_button{
    border-style: none;
    display:inline-flex;
    flex-direction: row;
    justify-content: center;
}
.button_item{
    font-family: inherit;
    border-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    border-radius: 4px;
    text-align: center;

}
.button_item:focus{
    background-color: var(--color_blue);
    color: var(--color_white);
}
.button_item:hover{
    background-color: var(--color_blue);
    color: var(--color_white);
    font-family: inherit;
    line-height: 1.6;
    font-weight: 500;
    size: 16px;
    letter-spacing: 0.03em;
    cursor: pointer;
    
}
.card_photo{
    /*flex-basis: calc((100% - 2px) / 3);*/
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.border{
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    border: 1px solid rgb(238, 238, 238);
    background: rgb(255, 255, 255);

}
.proyect_name{
    color: var(--color_black);
    font-family: inherit;
    font-weight: 700;
    size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: center;
}
.categories{
    color: var(--color_gray);
    font-family: inherit;
    font-weight: 400;
    size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    text-align: center;
}
.shadow{
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
}